:root { 
    --primary: #112F08; 
    --dark-primary: #0D2306; 
    --secondary: #F5F9DC; 
    --tertiary: #F9D864;
    --gray: #9A9A9A;
    --white: #EBEBEB; 
    --black: #151415; 
    --button-light: #D8E9E0;
    --button-dark: #2B503C;
}

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--dark-primary);
}

/* Header/logo Title */
.header {
    /*padding-top: 80px;*/
    text-align: center;
    background: var(--dark-primary);
    color: var(--secondary);
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 5vw;
    position: absolute;
    top: 20%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    color: var(--secondary);
    z-index: 1; /* Ensure text is above the image */
    font-family: 'sans-serif', Helvetica;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */

}

.header h2 {
    font-size: 2vw;
    position: absolute;
    top: 44%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    color: var(--tertiary);
    z-index: 1; /* Ensure text is above the image */
    font-family: 'sans-serif', Helvetica;
    padding-top: 10%;
}

.header a {
    text-decoration: none;
    color: var(--tertiary);
    text-decoration: underline;
}

.header img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    margin-top: 0;
    filter: brightness(.4);
}

@media screen and (max-width: 600px) {
    .header h1 {
        font-size: 8vw;
    }
    .header h2 {
        font-size: 6vw;
        margin-top: 10vh;
    }
    .header img {
        height: 50vh;
        width: 100vw;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

/* Style the navigation bar links */
.navbar a {
    float: right;
    display: block;
    color: var(--gray);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.navbar .icon {
    display: none;
}

.navbar a.active {
    background-color: var(--primary);
    color: var(--secondary);
}

/* Change color on hover */
.navbar .navItem:hover {
    background-color: var(--white);
    color: var(--black);
}

.navbar .logo {
    transform: scale(0.6);
    transform-origin: left;
    padding: 0;
    margin-left: 10px;
    float: left;
    overflow: none;
}
.logo:hover img{
    filter: invert(1);
}
.navbar img {
    height: 55px;
    padding-left: 5px;
    padding-top: 5px;
    float: left;
    object-fit: cover;
    object-position: center;
    
}

/* Column container */
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.general-content {
    padding-top: 10vh;
    width: 100%;
    color: var(--secondary);
    margin-bottom: 10vh;
}

.container {
    width: 100%;
    margin: auto;
}

.col-img {
    width: 40%;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
}
.col-img img {
    width: 25vw;
}

.container img {
    border: 2px solid var(--secondary);
}

.col-text {
    width: 60%;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5vw;
    font-size: 1.5vw;
}

.col-text ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 0;
}

.lodging-button {
    text-decoration: none;
    color: var(--tertiary);
    border: 1px solid var(--tertiary);
    padding: 12px 20px;
    background: transparent;
    cursor: pointer;
    transition: 1s;
    border-radius: 8px;
    font-weight: bold;
}

.lodging-button:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border-color: transparent;
}

.lodge-text h2 {
    margin: 1vh 0;
}

.lodge-text p {
    margin: 1vh 0;
}

.row-img-left {
    display: flex;
}

.row-img-right {
    display: flex;
}

.divider {
    color: var(--secondary);
    margin: 5vh 10vw;
}

.gio-map {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gio-map iframe {
    width: 60%;
    border: 2px solid var(--secondary);
}

.footer {
    text-align: center;
    background-color: var(--primary);
    padding: 1vh 0;
    margin-top: 2vh;
    text-decoration: none;
    color: var(--tertiary);
}
.footer a {
    text-decoration: none;
    color: var(--tertiary);
}


.row-center {
    text-align: center;
    color: var(--secondary);
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-center h1 {
    font-size: 2.5vw;
    color: var(--tertiary);
}

.row-center h2 {
    width: 50%;
    font-size: 1.5vw;
}

.row-center h3 {
    width: 80%;
}

.row-center p {
    font-size: 1vw;
    width: 30%;
}

.row-center .center-header {
    margin: 5vh 0;
}

.row-center .date-selection {
    margin: 5vh 0;
}

.content-split {
    color: var(--secondary);
    display: flex;
    margin-top: 5vh;
}
.row-left {
    width: 50%;
    text-align: center;
}
.row-right {
    width: 50%;
    text-align: center;
}

.content-split img {
    width: 60%;
}

.content-split p {
    padding: 0 4vw;
}

.content-tri {
    color: var(--secondary);
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    flex-grow: 1;
}

.content-tri h1 {
    font-size: 3vw;
    color: var(--tertiary);
}

.content-tri h2 {
    font-size: 1.75vw;
}

.content-tri p {
    font-size: 1.25vw;
}

.col-tri {
    width: 33%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.col-tri img {
    width: 60%;
}

.menu-images img {
    height: 200px;
    width: 200px;
}

.menu-images .col-tri {
    width: 200px;
    margin: 0 1vw;
}

.col-tri p {
    padding: 0 4vw;
}

.activities-portal .row-center {
    padding: 5vh 0;
}

.back-to-activities {
    text-align: center;
    margin-top: 10vh;
}
.back-to-activities a {
    text-decoration: none;
    color: var(--tertiary);
}
.back-to-activities h2 {
    margin: 0;
}

.content-split input {
    width: 80%;
    margin: 1vh 0;
    padding: 15px;
    font-size: 12px;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--black);
}
.content-split textarea {
    width: 80%;
    margin: 1vh 0;
    padding: 15px;
    resize: vertical;
    min-height: 100px;
    max-height: 500px;
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--black);
}


@media screen and (max-width: 600px) {
    .content-split {
        display: block;
        flex-direction: column;
        text-align: center;
    }
    .content-split .row-left {
        width: 100%;
    }
    .content-split .row-right {
        width: 100%;
        margin: 5vh 0;
    }
    .content-tri {
        display: block;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .col-tri {
        width: 100%;
        display: block;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .menu-images .col-tri {
        width: 100%;
    }
    .col-tri h1 {
        font-size: 8vw;
    }
    .col-tri h2 {
        font-size: 4vw;
    }
    .col-tri p {
        font-size: 3vw;
    }
    .row-center h1 {
        font-size: 7vw;
    }
    .row-center h2 {
        font-size: 4vw;
        width: 80%;
    }
    .row-center p {
        font-size: 3vw;
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .general-content {
        padding-top: 5vh;
        margin-bottom: 5vh;
    }
    .row-img-left {
        display: block;
        flex-direction: column;
    }
    .row-img-right {
        display: block;
        flex-direction: column;
    }
    .col-img {
        width: 100%;
        padding: 0;
    }
    .col-img img {
        width: 75vw;
    }
    .col-text {
        font-size: 4vw; 
        width: 100%;
        padding: 0 5vw;
    }
    .col-img {
        padding: 5vh 0;
    }
    .gio-map iframe {
        width: 80%;
    }
    .footer {
        margin-top: 2vh;
        font-size: 3vw;
    }
    
}
/* Main column */
.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: var(--primary);
    color: var(--white);
    padding: 20px;
    margin-top: -10px;

}

.main h2 {
    color: var(--white);
    font-size: 35px;
}

.main img {
    height: auto;
    width: 400px;
}

/* Fake image, just for this example */
.squareimg {
    background-color: var(--white);
    width: 100%;
    padding: 20px;
}




/* when screen is less than 600px, hide all links except home
and show link that will close navbar*/
@media screen and (max-width: 892px) {
    .navbar a:not(:last-child){ 
        display: none; 
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 892px) {
    .navbar.responsive { position: relative;}
    .navbar.responsive a:last-child { display: none; }
    .navbar.responsive a.icon {
        position: relative;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: right;
    }
}

* {
    overflow-x: hidden;
}